<p id="notice"><%= notice %></p>

<p> 
	<% if @tweet.image.nil? %>
		<img src="https://place-hold.it/350x350" />
	<% else %>
		<%= @tweet.image %>
	<% end %>
</p>

<p> 
	<strong> <%= @tweet.title %> </strong>
	
</p>

<p> 
	<%= @tweet.body %>
</p>
